body {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
  background: #2c3e50;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Float the list items side by side */
ul.topnav li {
	float: left;
}

ul.topnav li.icon { display: none; }

ul.topnav li.active a {
  border-bottom: 5px solid #67d3c9;
  background-color: transparent;
}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
		font-weight: 600;
}

ul.topnav li.li-nav a:hover {
  border-bottom: 5px solid #67d3c9;
  background-color: transparent;
}

.container {
     padding-right: 0px;
		 padding-left: 0px;
     margin-right: 0px;
     margin-left: 0px;
}

.section {
	margin: 0 10px 0 10px;
}

#about.section {
	height: 600px;
}

#work.section {
	height: 1000px;
}

#contact.section {
	height: 525px;
}

.nav-content {
		margin-top:50px;
}

.section h2 {
    font-weight: 800;
    padding-bottom: 40px;
}

.panel-default {
  border-color: #67d3c9;
}

.panel-default>.panel-heading {
  background-color: #67d3c9;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.landingpage {
	background: url('../img/first-img1.jpg') fixed;
	background-size: cover;
	color: white;
	height: 600px;
}

.landingpage .overlay {
	background-color: black;
	opacity: 0.75;
	height: 600px;
}

.landingpage .content {
	margin: 100px 0 60px 0;
}

.landingpage .content h2 {
	font-size: 48px;
	margin-bottom: 40px;
}

.landingpage .content .body {
	margin-top:20px;
	font-size:25px;
	font-weight:800;
}

.skillspage .skill-graph {
	width: 18%;
	display: inline-block;
}

.skillspage .skill-graph .skill-graph-title {
	font-size: 20px;
	font-weight: 600;
}

.skillspage .skills-box {
	margin-top: 50px;
	font-size: 20px;
	line-height: 1.5;
}

.contactpage .social-media-icon img {
	width: 50px;
	height: 50px;
	margin: 10px 20px 0 0;
}

.contactpage .connect-me {
	margin: 20px 0 20px 0;
}

.contactpage .connect-me .connect-me-header {
	font-size: 17px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2c3e50;
    width: 50px;
    height: 50px;
    display: none;
		border-radius: 50%;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #2c3e50;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    left: 16px;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #2c3e50;
    color: white;
}

.card {
	width: 90%;
	height: 250px;
	border:1px solid #67d3c9;
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-header {
		height: 85px;
		color: white;
		background-color: #67d3c9;
		text-align: center;
		font-size: 25px;
		font-weight: 800;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		padding-top: 24px;
}

.card-body {
	text-align: center;
}

.card-body h3 {
	font-size: 20px;
}

.card-body p {
	padding: 0 10px;
}

.contactpage div {
		font-size: 20px;
		line-height: 1.5;
}

.card-footer .expand-icon {
	position: absolute;
  bottom: 10px;
  right: 45px;
  cursor: pointer;
}

.card-footer .expand-icon img {
	width: 30px;
	height: 30px;
}

.card-footer a {
	position: absolute;
  left: 45px;
  bottom: 10px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
	color: white;
	background-color: #67d3c9;
	text-align: center;
	font-size: 30px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding-top: 24px;
}

.modal-footer {
	height: 70px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 0 0px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content article {
		padding: 0 20px;
}

.modal-content section {
	margin-bottom: 20px;
}

.modal-content section h4 {
	font-weight: 600;
}

.modal-content section p {
	font-size: 15px;
}

/* modal Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.clsBtn {
	width: 100px;
  height: 35px;
  color: white;
  font-size: 20px;
  background-color: #67d3c9;
  text-align: center;
  bottom: 20px;
  right: 20px;
  position: absolute;
	cursor: pointer;
}

.clsBtn:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.circles-text {
		font-size: 30px;
}

.xs-skills { display: none; }

.contact-form .container form {
		width: 80%;
    margin: 0 auto;
    text-align: center;
		margin-bottom: 15px;
}

.contact-form .container form input, .contact-form .container form textarea {
	width: 55%;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 30px;
}

.contact-form .container form input:focus, .contact-form .container form textarea:focus {
	border: 0px;
	border-bottom: 2px solid #67d3c9;
	outline-width: 0;
}

.contact-form .container form button.sendBtn {
	height: 55px;
  width: 135px;
  margin: 0 auto;
  color: white;
  border-radius: 4px;
  font-size: 20px;
  background-color: #67d3c9;
	border: solid 2px #67d3c9;
}

.contact-form .container form button.sendBtn:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.contact-form .container .success {
	display: none;
	font-size: 15px;
	text-align: Center;
	background-color: #9ed79e;
	width: 50%;
	margin: 0 auto 30px auto;
	padding: 10px;
	color: #42a142;
	font-weight: bold;
	border-radius: 5px;
}

.contact-form .container form input.error, textarea.error {
	border-bottom: 2px solid red;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home").
	 Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
	.landingpage .overlay { opacity: 0.7; }
	.md-skills { display: none; }
	.xs-skills { display: block; }

	ul.topnav li.icon a.selected { color: #67d3c9 }

	#about.section, #work.section, #contact.section {
		height: auto;
	}

	ul.topnav li.li-nav { display: none; }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

	ul.topnav.responsive { position: relative; }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li.li-nav {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }

	.skillspage .xs-skills .progress-bar {
		background-color: #67d3c9;
	}

	.skillspage .skill-graph {
		width: 100%;
		display: inline-block;
	}

	.skillspage .skill-graph .skill-graph-title {
		font-size: 15px;
		font-weight: 600;
		margin: 0 0 5px 10px;
		text-align: left;
	}

	.skillspage .skill-graph .sr-only {
		font-size: 15px;
		font-weight: 600;
		position: relative;
	}

	.section h2 {
		margin-left: 10px;
		font-size: 25px;
    padding-bottom: 20px;
	}

	.workpage .card {
		height:210px;
	}

	.workpage .card .card-header {
		height: 60px;
    font-size: 25px;
    font-weight: 600;
    padding-top: 10px;
	}

	.contact-form .container form input, .contact-form .container form textarea {
    width: 85%;
	}

	.contact-form .container .success {
		width: 80%;
	}
}
